

<form ng-submit="submitPost()" class="large-10 columns">
  <select ng-model="whichPost" ng-options="post.title for post in posts"></select>
    <!-- <option ng-options="post in posts">{{ post.title }}</option>
  </select> -->

  <!-- {{ posts }} -->

  <p class="large-offset- columns">Name of Assignment:  <input type="text" ng-model="post.title" /></p>
  <p>Due date: <input type="date" ng-model="post.date"/></p>
  <p>Post to demo:  <input type="text" ng-model="post.url" /></p>
  <p>Functionality Score:  <input type="number" ng-model="post.functionality" min=1 max=50 maxlength="2"/></p>
  <p>Readability Score:  <input type="number" ng-model="post.readability" min=1 max=50 maxlength="2"/></p>
  <p>Style Score:  <input type="number" ng-model="post.style" min=1 max=50 maxlength="2"/></p>
  <p>UI/UX Score:  <input type="number" ng-model="post.uiux" min=1 max=50 maxlength="2"/></p>
  <p>Deployment Score:  <input type="number" ng-model="post.deployment" min=1 max=50 maxlength="2"/></p>
  <p>Total Score:  {{post.total}} </p>

  <input type="submit" value="Add Post" />
</form>
