<form ng-submit="addStudent(student)">
  <div class="row">
    <div class="large-4 columns">
      <label>Name
        <input type="text" placeholder="name" ng-model="student.name" />
      </label>
    </div>

    <div class="row">
      <div class="large-4 columns">
        <label>Cohort
          <input type="text" placeholder="Cohort" ng-model="student.cohort" />
        </label>
      </div>

      <div class="row">
        <div class="large-4 columns"><br>
          <input type="submit" class="button small"value="Add Student" />
        </div>
      </div>
    </form>

    <table class="responsive">
      <thead >
        <th>Student Name</th>
        <th>Assignment</th>
        <th>Due Date</th>
        <th>Functionality</th>
        <th>Readability</th>
        <th>Style</th>
        <th>UI/UX</th>
        <th>Deployment</th>
        <th>Total</th>
      </thead>
      <tbody>
        <tr ng-repeat="post in posts">
          <td><a ng-href="{{post.url}}">{{ post.title }}</a></td>
          <td>{{ post.date }}
            <td>{{ post.functionality }}</td>
            <td>{{ post.readability }}</td>
            <td>{{ post.style }}</td>
            <td>{{ post.uiux }}</td>
            <td>{{ post.deployment }}</td>
            <td>{{ post.total }}</td>

            <td><a ng-click="deletePost(post)">Delete</a></td>
          </tbody>
        </table>

        <div>Name of student: {{ student.name }}</div>

        <div> Student object: {{ student }}</div>
