<div class="row">
  <div class="small-6 columns">
<table>
  <thead>
    <th>Name</th>
    <th>cohort</th>
    <th>Assignment 1</th>
    <th>Assignment 1 demo</th>
    <th>Assignment 2</th>
    <th>Assignment 2 demo</th>
    <th>Assignment 3</th>
    <th>Assignment 3 demo</th>
  </thead>
  <tbody>
    <tr>
      <td>Ben Halverson</td>
      <td>June 2014</td>
      <td>
        30
      </td>
      <td><a href="#">Demo 1</a></td>
      <td>
        40
      </td>
      <td><a href="#">Demo 2</a></td>
      <td>
        50
      </td>
      <td><a href="#">Demo 3</a></td>
    </tr>
  </tbody>
</table>
  </div>
</div>
